# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here

a=8
b=12
print(a+b)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [ ]:
a=7
b=20
print(a-b)

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [ ]:
a=6
b=9
print(a*b)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [ ]:
a=45
b=9
print(a/b)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [ ]:
c=45
d=9
print(c//d)


a=50
b=6
print(a//b)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [ ]:
a=29
b=5
print(a%b)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
a=3
b=4
print(a**3)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [ ]:
x=10
print(+x)
print(-x)

10
-10

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
print(5+3*2)
print((5 + 3) * 2.)

11
16.0

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [ ]:
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [ ]:
n=10
n += 5
print(n)

n *= 2
print(n)

n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
x=3
y=7

x,y=y,x
print(x)
print(y)

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [ ]:
a=int(input("Enter your First number is : "))
b=int(input("Enter your second number is : "))
print(f"sum of two number is {a+b}")

Enter your First number is : 20
Enter your First number is : 20
sum of two number is 40

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [ ]:
a= int (input("Enter your first number is : "))
b= int (input("Enter your second number is : "))
c1= int (input("Enter your third number is : "))

print(f"Average  of three number is {(a+b+c)/3}")

Enter your first number is : 10
Enter your second number is : 10
Enter your third number is : 10
Average  of three number is 10.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [5]:
radius=2
Circumference = 2 * 3.14159 * radius
print(Circumference)

Area = 3.14159 * radius ** 2
print(Area)

12.56636
12.56636

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [26]:
total_second=int(input('enter your total second'))
hour=(total_second //3600)
print(f"{hour} hour")

minute= (total_second // 3600 )// 60
print(f"{minute} minute")
seconds = (total_second % 60 )
print(f"{hour}:{minute}:{seconds}")

enter your total second3600
1 hour
0 minute
1:0:0

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [30]:
principal= int(input(" Enter principal amount "))
rate= float(input(" Enter rate of interst "))
time= float(input(" time "))
interest=(principal * rate * time) / 100
print(f"the simple interet is {interest}")

 Enter principal amount10000
 Enter rate of interst5
 time 2
the simple interet is 1000.0