# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [1]:
age=45
print(age)

45

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [ ]:
english=100.01
print(f"the price of english notbook is {english}")

### Question 3
Create a variable to store your **first name** and print it.

In [2]:
First_name='pranay'
print(First_name)

pranay

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [3]:
is_today_class_completed=True
print(is_today_class_completed)

True

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [5]:
 number_of_classes_attended=45
 average_rating=7.7
 print(number_of_classes_attended)
 print(average_rating)

45
7.7

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [7]:
name='Rahul'
age=22
print(f"My name is {name} and I am {age} year old ")

My name is Rahul and I am 22 year old


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [8]:
item='pen'
price=10.5
print(f"The price of {item} is {price} rupees")

The price of pen is 10.5 rupees

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [10]:
batch='DA10'
class_status=True
print(f"Batch {batch} class completed status is {class_status}")

Batch DA10 class completed status is True